<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metanet.metamungmung.mapper.store.CartMapper">

        <!-- 해당 회원 장바구니 리스트 출력 -->
        <select id="getMyCartList"  resultMap="cartResultMap">
            select c.cartIdx, c.memberIdx, cp.cartproductIdx, cp.productIdx, cp.quantity, p.productName, p.price, p.productImg
            from cart c, cartproduct cp, product p
            where c.memberIdx = 1
            and  c.cartIdx = cp.cartIdx
            and cp.productIdx = p.productIdx
        </select>

        <resultMap id="cartResultMap" type="com.metanet.metamungmung.dto.store.CartDTO">
            <result column="cartIdx" property="cartIdx"/>
            <result column="memberIdx" property="memberIdx"/>
            <collection property="cartProductDTOList" resultMap="cartProductMap"/>
        </resultMap>

        <resultMap type="com.metanet.metamungmung.dto.store.CartProductDTO" id="cartProductMap" >
                <result column="cartProductIdx" property="cartProductIdx"/>
                <result column="productIdx" property="productIdx"/>
                <result column="cartIdx" property="cartIdx"/>
                <result column="quantity" property="quantity"/>
                <association property="productDTO" resultMap="productMap" javaType="com.metanet.metamungmung.dto.store.ProductDTO"/>
        </resultMap>

        <resultMap type="com.metanet.metamungmung.dto.store.ProductDTO" id="productMap">
                <result column="productIdx" property="productIdx"/>
                <result column="category" property="category"/>
                <result column="productName" property="productName"/>
                <result column="brand" property="brand"/>
                <result column="price" property="price"/>
                <result column="productImg" property="productImg"/>
                <result column="productDetail" property="productDetail"/>
                <result column="volume" property="volume"/>
        </resultMap>




<!--        <resultMap type="com.metanet.metamungmung.dto.store.CartDTO" id="cartDTO">-->
<!--            <result property="cartIdx" column="cartIdx"/>-->
<!--            <result property="memberIdx" column="memberIdx"/>-->
<!--            <collection property="productList" resultMap="cartProductDTO">-->
<!--            </collection>-->
<!--        </resultMap>-->


<!--        <resultMap type="com.metanet.metamungmung.dto.store.CartProductDTO" id="cartProductDTO">-->
<!--            <result property="cartProductIdx" column="cartProductIdx"/>-->
<!--            <result property="productIdx" column="productIdx"/>-->
<!--            <result property="cartIdx" column="cartIdx"/>-->
<!--            <result property="quantity" column="quantity"/>-->
<!--            <association property="productDTO" javaType="ProductDTO" resultMap="productMap"/>-->
<!--        </resultMap>-->

<!--        <resultMap type="com.metanet.metamungmung.dto.store.ProductDTO" id="productMap">-->
<!--            <result property="productIdx" column="productIdx"/>-->
<!--            <result property="productName" column="productName"/>-->
<!--            <result property="price" column="price"/>-->
<!--            <result property="productImg" column="productImg"/>-->
<!--        </resultMap>-->








        <!--  장바구니에 물건 추가 -->
        <insert id="addCart">
            insert into cart
            values (cart_seq.nextval, #{m_id}, #{p_id}, #{quantity})
        </insert>


</mapper>
