<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metanet.metamungmung.mapper.meeting.OnMeetingMapper">

<!--    On모임 생성-->
    <insert id="createOnMeeting">
        insert into onMeeting
        values
            (#{onMeetingIdx}, #{onMeetName}, #{category}, #{introduction, jdbcType=VARCHAR}, #{thumbnail, jdbcType=VARCHAR},
             #{isPublic, jdbcType=VARCHAR}, #{onMeetingAddr, jdbcType=VARCHAR}, sysdate, sysdate, #{personnel, jdbcType=INTEGER})
        <selectKey keyProperty="onMeetingIdx" order="BEFORE" resultType="long">
            select onMeeting_seq.nextval from dual
        </selectKey>
    </insert>

<!--    On모임 정보 수정-->
    <update id="modifyOnMeeting">
        update onMeeting
        set
            onMeetName = #{onMeetName}, category = #{category}, introduction = #{introduction, jdbcType=VARCHAR},
            thumbnail = #{thumbnail, jdbcType=VARCHAR}, isPublic = #{isPublic}, onMeetingAddr = #{onMeetingAddr, jdbcType=VARCHAR},
            updateDate = sysdate
        where
            onMeetingIdx = #{onMeetingIdx}
    </update>

<!--    On모임 삭제-->
    <delete id="removeOnMeeting">
        delete
        from onMeeting
        where onMeetingIdx = #{onMeetingIdx}
    </delete>

<!--    On모임 상세 (+ 멤버수, 호스트 이름!!!)-->
    <select id="getOnMeetingById" resultType="com.metanet.metamungmung.dto.meeting.OnMeetingDTO">
--         select meet.*,
--                (select count(*)
--                     from onMeeting meet
--                         join onMeetingMem mem
--                             on meet.onMeetingIdx = mem.onMeetingIdx
--                         where meet.onMeetingIdx = #{onMeetingIdx})
--         from onMeeting meet
--         join onMeetingMem mem on meet.onMeetingIdx = mem.onMeetingIdx
--         where onMeetingIdx = #{onMeetingIdx}
        select meet.*,
            (select count(*)
                from onMeeting meet
                    join onMeetingMem mem
                        on meet.onMeetingIdx = mem.onMeetingIdx
                where meet.onMeetingIdx = meet.onMeetingIdx) as memberCnt,
            (SELECT m.memberIdx
                FROM onMeetingMem mem
                    JOIN member m
                        ON mem.memberIdx = m.memberIdx
                WHERE onMeetingIdx = meet.onMeetingIdx
                    AND isHost = '1') as hostIdx,
            (SELECT memberName
                FROM onMeetingMem mem
                    JOIN member m
                        ON mem.memberIdx = m.memberIdx
                WHERE onMeetingIdx = meet.onMeetingIdx
                    AND isHost = '1') as hostName
        from onMeeting meet
                 join onMeetingMem mem
                     on meet.onMeetingIdx = mem.onMeetingIdx
        where meet.onMeetingIdx = #{onMeetingIdx}
    </select>

<!--&lt;!&ndash;    호스트&ndash;&gt;-->
<!--    <select id="getOnMeetingHost" resultType="com.metanet.metamungmung.dto.meeting.OnMeetingDTO">-->
<!--        select *-->
<!--        from onMeeting-->
<!--        join onMeetingMem mem on meet.onMeetingIdx = mem.onMeetingIdx-->
<!--        join member m on mem.memberIdx = m.memberIdx-->
<!--        where memberIdx = #{memberIdx}-->
<!--    </select>-->

<!--    My On모임 리스트-->
    <select id="getOnMeetingListByMember" resultMap="onMeetingMap">
        select *
        from onMeeting meet
            join onMeetingMem mem on meet.onMeetingIdx = mem.onMeetingIdx
            join member m on mem.memberIdx = m.memberIdx
        where m.memberIdx = #{memberIdx}
    </select>

<!--    추천 On모임 리스트-->
    <select id="getRecommendOnMeetingList" resultMap="onMeetingMap">
        SELECT meet.*,
               (SELECT m.memberIdx
                FROM onMeetingMem mem
                         JOIN member m
                              ON mem.memberIdx = m.memberIdx
                WHERE onMeetingIdx = meet.onMeetingIdx
                  AND isHost = '1') as hostIdx,
               (SELECT memberName
                    FROM onMeetingMem mem
                        JOIN member m
                            ON mem.memberIdx = m.memberIdx
                    WHERE onMeetingIdx = meet.onMeetingIdx
                        AND isHost = '1') as hostName,
               (SELECT COUNT(*)
                    FROM onMeetingMem
                        WHERE onMeetingIdx = meet.onMeetingIdx) as memberCnt
               FROM onMeeting meet
                   JOIN onMeetingMem mem ON meet.onMeetingIdx = mem.onMeetingIdx
                   JOIN member m ON mem.memberIdx = m.memberIdx
               WHERE m.memberIdx != #{memberIdx}
                   ORDER BY DBMS_RANDOM.VALUE
    </select>

    <resultMap id="onMeetingMap" type="com.metanet.metamungmung.dto.meeting.OnMeetingDTO">
        <result property="onMeetingIdx" column="onMeetingIdx"/>
        <result property="onMeetName" column="onMeetName"/>
        <result property="category" column="category"/>
        <result property="introduction" column="introduction"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="isPublic" column="isPublic"/>
        <result property="onMeetingAddr" column="onMeetingAddr"/>
        <result property="isPublic" column="isPublic"/>
        <result property="hostIdx" column="hostIdx"/>
        <result property="hostName" column="hostName"/>
<!--        <collection property="onMeetingMemList" resultMap="onMeetingMemMap"/>-->
    </resultMap>

<!--    <resultMap id="onMeetingMemMap" type="com.metanet.metamungmung.dto.meeting.OnMeetingMemDTO">-->
<!--        <result property="onMeetingMemIdx" column="onMeetingMemIdx"/>-->
<!--        <result property="onMeetingIdx" column="onMeetingIdx"/>-->
<!--        <result property="memberIdx" column="memberIdx"/>-->
<!--        <result property="isHost" column="isHost"/>-->
<!--        <association property="memberDTO" resultMap="memberMap"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="memberMap" type="com.metanet.metamungmung.dto.member.MemberDTO">-->
<!--        <result property="memberIdx" column="memberIdx"/>-->
<!--        <result property="memberId" column="memberId"/>-->
<!--        <result property="memberName" column="memberName"/>-->
<!--        <result property="sex" column="sex"/>-->
<!--        <result property="birth" column="birth"/>-->
<!--        <result property="email" column="email"/>-->
<!--        <result property="memberImg" column="memberImg"/>-->
<!--    </resultMap>-->

</mapper>