<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metanet.metamungmung.mapper.meeting.OnMeetingBoardMapper">

    <!--하나의 모임에 있는 게시글 목록 출력-->
    <select id="getBoardList" resultMap="boardResultMap" parameterType="com.metanet.metamungmung.vo.meeting.GetOnMeetingVO">
        SELECT *
        FROM onMeeting o
            LEFT JOIN onMeetingBoard ob ON o.onMeetingIdx = ob.onMeetingIdx
            LEFT JOIN member m ON ob.memberIdx = m.memberIdx
        WHERE o.onMeetingIdx = #{onMeetingIdx}
        ORDER BY ob.boardCreateDate DESC
    </select>

    <resultMap id="boardResultMap" type="com.metanet.metamungmung.vo.meeting.GetOnMeetingVO">
            <result column="onMeetingIdx" property="onMeetingIdx"/>
            <result column="onMeetName" property="onMeetName"/>
            <result column="createDate" property="createDate"/>
            <result column="updateDate" property="updateDate"/>
            <result column="introduction" property="introduction"/>
            <result column="thumbnail" property="thumbnail"/>
            <result column="personnel" property="personnel"/>
            <collection property="boardList" resultMap="boardMap"/>
    </resultMap>

    <resultMap id="boardMap" type="com.metanet.metamungmung.vo.meeting.GetOnMeetingBoardVO">
        <result column="onMeetingBoardIdx" property="onMeetingBoardIdx"/>
        <result column="onMeetingMemIdx" property="onMeetingMemIdx"/>
        <result column="onMeetingIdx" property="onMeetingIdx"/>
        <result column="memberIdx" property="memberIdx"/>
        <result column="boardWriter" property="boardWriter"/>
        <result column="boardContents" property="boardContents"/>
        <result column="boardCreateDate" property="boardCreateDate"/>
        <result column="boardUpdateDate" property="boardUpdateDate"/>
        <association property="boardMember" resultMap="boardMemMap"/>
<!--        <collection property="replyList" autoMapping="true" resultMap="replyMap" ofType="java.lang.String"/>-->
    </resultMap>

    <resultMap type="com.metanet.metamungmung.dto.member.MemberDTO" id="boardMemMap" >
        <result column="memberIdx" property="memberIdx"/>
        <result column="memberId" property="memberId"/>
        <result column="password" property="password"/>
        <result column="memberName" property="memberName"/>
        <result column="sex" property="sex"/>
        <result column="birth" property="birth"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="address1" property="address1"/>
        <result column="address2" property="address2"/>
        <result column="authority" property="authority"/>
        <result column="status" property="status"/>
        <result column="point" property="point"/>
        <result column="memberImg" property="memberImg"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
    </resultMap>

<!--    <resultMap id="replyMap" type="com.metanet.metamungmung.vo.meeting.GetOnMeetingReplyVO">-->
<!--        <result column="onMeetingReplyIdx" property="onMeetingReplyIdx"/>-->
<!--        <result column="onMeetingBoardIdx" property="onMeetingBoardIdx"/>-->
<!--        <result column="onMeetingMemIdx" property="onMeetingMemIdx"/>-->
<!--        <result column="memberIdx" property="memberIdx"/>-->
<!--        <result column="replyContents" property="replyContents"/>-->
<!--        <result column="replyCreateDate" property="replyCreateDate"/>-->
<!--        <result column="replyUpdateDate" property="replyUpdateDate"/>-->
<!--        <result column="replyWriter" property="replyWriter"/>-->
<!--        <result column="replyWriterImg" property="replyWriterImg"/>-->
<!--        <association property="replyMember" resultMap="onMemMap" javaType="com.metanet.metamungmung.vo.meeting.GetOnMeetingMemVO"/>-->
<!--    </resultMap>-->

<!--    <resultMap id="onMemMap" type="com.metanet.metamungmung.vo.meeting.GetOnMeetingMemVO">-->
<!--        <result column="memberIdx" property="memberIdx"/>-->
<!--        <result column="memberNameVO" property="memberName"/>-->
<!--        <result column="memberImgVO" property="memberImg"/>-->
<!--    </resultMap>-->



    <!--해당 모임 멤버 리스트 출력-->
    <select id="getOnMeetingMembers" resultMap="memberListMap">
        select *
        from onMeeting o
        join onMeetingMem om
        on o.onMeetingIdx = om.onMeetingIdx
        join member m
        on om.memberIdx = m.memberIdx
        where o.onMeetingIdx = #{onMeetingIdx}
    </select>

    <resultMap id="memberListMap" type="com.metanet.metamungmung.vo.meeting.GetOnMeeting2VO">
        <result column="memberIdx" property="memberIdx"/>
<!--        <result column="memberName" property="memberName"/>-->
<!--        <result column="memberImg" property="memberImg"/>-->
        <collection property="memberList" resultMap="memberMap"/>
    </resultMap>

    <resultMap type="com.metanet.metamungmung.dto.member.MemberDTO" id="memberMap">
        <result column="memberIdx" property="memberIdx"/>
        <result column="memberId" property="memberId"/>
        <result column="password" property="password"/>
        <result column="memberName" property="memberName"/>
        <result column="sex" property="sex"/>
        <result column="birth" property="birth"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="address1" property="address1"/>
        <result column="address2" property="address2"/>
        <result column="authority" property="authority"/>
        <result column="status" property="status"/>
        <result column="point" property="point"/>
        <result column="memberImg" property="memberImg"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
    </resultMap>

    <!--게시글 작성 // onMeetingIdx, board 객체 보내줌-->
<!--    <insert id="registerBoard">-->
<!--        insert into onMeetingBoard (onMeetingBoardIdx,onMeetingMemIdx,onMeetingIdx,memberIdx,boardWriter,boardContents,onMeetingBoardAddr,boardCreateDate,boardUpdateDate) values (#{onMeetingBoardIdx},1L,#{onMeetingIdx},1L,#{boardWriter},#{boardContents},#{onMeetingBoardAddr},to_char(sysdate,'YYYY-MM-DD HH24:MM:SS'),to_char(sysdate,'YYYY-MM-DD HH24:MM:SS'))-->
<!--        <selectKey keyProperty="onMeetingBoardIdx" order="BEFORE" resultType="Long">-->
<!--            select onMeetingBoard_seq.nextval from dual-->
<!--        </selectKey>-->
<!--    </insert>-->
    <insert id="registerBoard" parameterType="com.metanet.metamungmung.dto.meeting.OnMeetingBoardDTO">
        insert into onMeetingBoard (
            onMeetingBoardIdx,
            onMeetingMemIdx,
            onMeetingIdx,
            memberIdx,
            boardWriter,
            boardContents,
            onMeetingBoardAddr,
            boardCreateDate,
            boardUpdateDate
        ) values (
                     onMeetingBoard_seq.nextval,
                     #{onMeetingMemIdx},
                     #{onMeetingIdx},
                     #{memberIdx},
                     #{boardWriter},
                     #{boardContents},
                     #{onMeetingBoardAddr},
                     sysdate,
                     sysdate
                 )
    </insert>

<!--    //게시글 수정 // onMeetingIdx, board 객체 보내줌-->
    <update id="updateBoard">
        update onMeetingBoard
        set boardContents = #{boardContents},
            boardUpdateDate = sysdate
        where onMeetingIdx = #{onMeetingIdx}
        and onMeetingBoardIdx = #{onMeetingBoardIdx}
    </update>


<!--  한개한개의 게시글 삭제 -> 해당하는 댓글 삭제// // onMeetingIdx, onMeetingBoardIdx 보내줌-->
    <delete id="deleteReply">
        delete from onMeetingReply
        where onMeetingIdx = #{onMeetingIdx}
        and onMeetingBoardIdx = #{onMeetingBoardIdx}

    </delete>

    <delete id="deleteBoard">
        delete from onMeetingBoard
        where onMeetingIdx = #{onMeetingIdx}
        and onMeetingBoardIdx = #{onMeetingBoardIdx}
    </delete>



    <!--게시글 검색 -->
<!--    <select id="getSearchBoards" resultType="com.metanet.metamungmung.dto.meeting.OnMeetingBoardDTO">-->
<!--        select *-->
<!--        from onMeetingBoard-->
<!--        where boardContents LIKE '%'||TRIM(#{keyword})||'%'-->
<!--        ORDER BY boardCreateDate DESC-->
<!--    </select>-->


    <select id="getSearchBoards" resultMap="boardResultMap9" parameterType="com.metanet.metamungmung.vo.meeting.GetOnMeetingVO">
        SELECT *
        FROM onMeeting o
                 LEFT JOIN onMeetingBoard ob ON o.onMeetingIdx = ob.onMeetingIdx
                 LEFT JOIN member m ON ob.memberIdx = m.memberIdx
        WHERE o.onMeetingIdx = #{onMeetingIdx}
        AND ob.boardContents LIKE '%'||TRIM(#{keyword})||'%'
        ORDER BY ob.boardCreateDate DESC
    </select>

    <resultMap id="boardResultMap9" type="com.metanet.metamungmung.vo.meeting.GetOnMeetingVO">
        <result column="onMeetingIdx" property="onMeetingIdx"/>
        <result column="onMeetName" property="onMeetName"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
        <result column="introduction" property="introduction"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="personnel" property="personnel"/>
        <collection property="boardList" resultMap="boardMap9"/>
    </resultMap>

    <resultMap id="boardMap9" type="com.metanet.metamungmung.vo.meeting.GetOnMeetingBoardVO">
        <result column="onMeetingBoardIdx" property="onMeetingBoardIdx"/>
        <result column="onMeetingMemIdx" property="onMeetingMemIdx"/>
        <result column="onMeetingIdx" property="onMeetingIdx"/>
        <result column="memberIdx" property="memberIdx"/>
        <result column="boardWriter" property="boardWriter"/>
        <result column="boardContents" property="boardContents"/>
        <result column="boardCreateDate" property="boardCreateDate"/>
        <result column="boardUpdateDate" property="boardUpdateDate"/>
        <association property="boardMember" resultMap="boardMemMap9"/>
        <!--        <collection property="replyList" autoMapping="true" resultMap="replyMap" ofType="java.lang.String"/>-->
    </resultMap>

    <resultMap type="com.metanet.metamungmung.dto.member.MemberDTO" id="boardMemMap9" >
        <result column="memberIdx" property="memberIdx"/>
        <result column="memberId" property="memberId"/>
        <result column="password" property="password"/>
        <result column="memberName" property="memberName"/>
        <result column="sex" property="sex"/>
        <result column="birth" property="birth"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="address1" property="address1"/>
        <result column="address2" property="address2"/>
        <result column="authority" property="authority"/>
        <result column="status" property="status"/>
        <result column="point" property="point"/>
        <result column="memberImg" property="memberImg"/>
        <result column="createDate" property="createDate"/>
        <result column="updateDate" property="updateDate"/>
    </resultMap>












    <!-- 게시글 전체 삭제 -->
    <delete id="deleteAllBoards">
        DELETE onMeetingBoard, onMeetingReply
        FROM onMeetingBoard
        INNER JOIN onMeetingReply ON onMeetingBoard.onMeetingBoardIdx = onMeetingReply.onMeetingBoardIdx
        WHERE onMeetingBoard.onMeetingIdx = #{onMeetingIdx};
    </delete>


</mapper>