<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metanet.metamungmung.mapper.store.ProductReviewMapper">

    <!-- 리뷰 조회 -->
    <resultMap id="GetReviewMemberVO" type="com.metanet.metamungmung.vo.store.GetReviewMemberVO">
        <result column="memberIdx" property="memberIdx"></result>
        <result column="memberId" property="memberId"></result>
        <result column="memberImg" property="memberImg"></result>
    </resultMap>

    <resultMap id="GetReviewListVO" type="com.metanet.metamungmung.vo.store.GetReviewListVO">
        <result column="productReviewIdx" property="productReviewIdx"></result>
        <result column="productIdx" property="productIdx"></result>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="createDate" property="createDate"></result>
        <result column="updateDate" property="updateDate"></result>
        <association property="reviewMember" resultMap="GetReviewMemberVO"></association>
    </resultMap>

    <select id="getReviewList" parameterType="com.metanet.metamungmung.vo.store.GetReviewListVO" resultMap="GetReviewListVO" >
        select
            pr.productReviewIdx,
            pr.productIdx,
            pr.memberIdx,
            m.memberImg,
            m.memberId,
            pr.title,
            pr.createDate,
            pr.updateDate,
            pr.content
        from
            productReview pr
        left join
            product p
        on pr.productIdx = p.productIdx
        left join
            member m
        on pr.memberIdx = m.memberIdx
        where pr.productIdx = #{productIdx}
        and pr.status = 'ACTIVE'
        order by createDate DESC
    </select>

    <!-- 리뷰 상세 조회 (특정 리뷰 조회) -->
    <select id="getReview" resultType="com.metanet.metamungmung.dto.store.ProductReviewDTO">
        select *
        from productReview
        where productIdx = #{productIdx}
        and productReviewIdx = #{reviewIdx}
        and status = 'ACTIVE'
    </select>

    <!-- 리뷰 등록 전 리뷰 존재 여부 확인  -->
    <select id="checkReview" resultType="int">
        select count(*)
        from productReview
        where productIdx = #{productIdx}
        and memberIdx = #{memberIdx}
        and status != 'DELETED'
    </select>

    <!-- 리뷰 등록 -->
    <insert id="registerReview">
        insert into
            productReview(
                productReviewIdx,
                productIdx,
                memberIdx,
                title,
                content,
                createDate,
                updateDate,
                status
            ) values(
                productReview_seq.nextval,
                #{productIdx},
                #{memberIdx},
                #{title},
                #{content},
                sysdate,
                sysdate,
                default
            )
    </insert>

    <!-- 리뷰 수정 -->
    <update id="updateReview">
        update productReview set
            title = #{title},
            content = #{content},
            updateDate = sysdate
        where productIdx = #{productIdx}
        and productReviewIdx = #{productReviewIdx}
        and status = 'ACTIVE'
    </update>

    <!-- 리뷰 삭제 -->
    <update id="deleteReview" parameterType="map">
        update productReview set
        status = 'DELETED'
        where productIdx = #{productIdx}
        and productReviewIdx = #{reviewIdx}
        and status = 'ACTIVE'
    </update>
</mapper>